*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  line-height: 2.5;
  width: 100%;
  max-width: 80%;
  padding: 20px 20px;
  margin: 0 auto;
}

/* Top navigation styles beginning */
/* 14. My product landing page should utilize CSS flexbox at least once. */
/* 15. The navbar should always be at the top of the viewport. *position:fixed */
#header{
  position: fixed;;
  width: 100%;
  height: 70px;
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header-img{
  width: 100%;
  height: 100%;
  max-width: 12%;
  object-fit: contain;
  overflow: hidden;
}

ul{
  list-style: none;
  width: 100%;
}

.nav-link{
  display: inline-block;
  padding: 0px 20px;
}

.nav-link a {
  text-decoration:none;
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.nav-link a:hover{
  color:#bbb1b1;
}
/* Top navigation styles end */
  
#main{
  display:flex;
  align-content: center;
  justify-content: center;
  padding-top: 70px;
  background-color: #fffffe;
}

/* 14. My product landing page should utilize CSS flexbox at least once. */
.img-container {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  height: auto;
}

#copicink{
  text-align: center; 
  padding: 40px 30px; 
  background-color: #F7DC6F;
}

.ink-logo{
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 25%;
}

.newink{
  display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 60%;
}

.colorsample{
  width: 10%;
}
.colorsample:hover{
  width: 12%;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #354231;
	background-color:#76c744;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #58c744;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

#fanart{
  text-align: center;
  padding: 70px 70px; 
  background-color: #F8C471;
}

#video{
  width: 100%;
  max-width: 50%;
}

#contact{
  text-align: center;
  padding: 70px 30px; 
  background-color: #F0B27A;
}
#email-label{
  font-weight: 600;
}
#email{
  width: 50%;
  border-radius:8px;
  padding: 12px 20px;
}

#submit {
	box-shadow: 0px 10px 14px -7px #354231;
	background-color:#76c744;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #58c744;
}
#submit:hover {
	background-color:#5cbf2a;
}
#submit:active {
	position:relative;
	top:1px;
}

/* 13 . landing page should have at least one media query. */
@media screen and (max-width: 767px)
 {
  #header{
    position: fixed;;
    width: 100%;
    height: 70px;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5%;
  }
  #header-img{
    width: 100%;
    height: 100%;
    max-width: 20%;
    object-fit: contain;
    overflow: hidden;
  }

  .nav-link a {
    text-decoration:none;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5;
    font-weight: normal;
  }

  .ink-logo{
    display: block;
      margin: 30px auto;
      width: 100%;
      max-width: 50%;
  }
  .nav-link a {
    text-decoration:none;
    color:#000;
    font-size: 15px;
    height:20px
  }
  .colorsample{
    width: 10%;
  }
  .colorsample:hover{
    width: 20%;
  }
  
  #video{
    width: 100%;
    max-width: 80%;
  }
  .newink{
    display: block;
      margin: 30px auto;
      width: 100%;
      max-width: 80%;
  }
  .myButton {
    box-shadow: 0px 10px 14px -7px #354231;
    background-color:#76c744;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #58c744;
  }
  
}





